@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@1&display=swap');

:root{
    --preto: #100b10;
    --rosa: #bf0161;
    --branco: #F6F6F6;
    --hover: #272727;

    --titulo: 'Krona One', sans-serif;
    --texto: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--preto);
    color: var(--branco);
}

.titulo-destaque {
    color: var(--rosa);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--titulo);

    
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--texto);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__button{
    width: 378px;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    font-family:var(--titulo);
    font-size: 24px;
    border-radius: 8px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: white;
    border: 2px solid var(--rosa);
    
}

.apresentacao__links__button:hover{
    background-color: var(--hover);
}

.apresentacao__links_sub{
    font-family: var(--titulo);
    font-size: 24px;
}

.rodape{
    background-color: var(--rosa);
    font-family: Kr;
    font-size: 24px;
    font-family: var(--texto);
    text-align: center;
    padding: 24px;

}

.cabecalho{
    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-size: 24px;
    font-weight: 600;
    color: var(--rosa);
    font-family: var(--texto);
    text-decoration: none;
    
}